#employeePic {
	float: left;
	padding-right: 10px;
	padding-bottom: 16px;
	height: 200px;

	
}

#employeeDetails p {
	margin-top: 0px;
	margin-bottom: 8px;
}

#actionList {
	clear: both;
}

#login{
	font-family: Arial, Helvetica, sans-serif;
	background-image: url(images/23.png);

}
.contenedorHeader{
	padding: 5%;
	text-align: center;


}
.contenedorHeader p{
text-shadow:none;
  color: #9d9d9d;
  text-decoration:none; 
  text-align: center;

}

#pageError{
background-image: url(images/23.png);

}

#employeeListPage{
background-image: url(images/23.png);
	
}


#detailsPage{
background-image: url(images/23.png);
	
}
h1{
color:#fff;
text-shadow:none;

}

p{
text-shadow:none;

}

span{
text-shadow:none;
color:#fff;
}
.paginaError{
background:#000;

}
p{
 color: #9d9d9d;

}

.ui-btn-inner{
	border-top:none;


}
.ui-btn-hidden{
background:#000;

}
h2{
	color: #fff;
	text-shadow:none;
	}
